body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background-color: #d63031;
    height: 90px;
    display: flex;
    
    color: white;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px 20px 40px;
}

.header-list li{
    float: right;
    list-style: none;
    padding: 33px 20px 33px 20px;
}

.halaman-utama{
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 25px 0px;
}

.intro-body{
    font-size: 18px;
    font-weight: bold;
    color: #979797;
    margin: 0px 0px 0px 0px;
}

.main-img {
    height: 400px;
    margin-left: 60px;
}

.title-body{
    font-size: 60px;
    font-weight: bold;
    color: #7f78d2;
    margin: 0px 0px 20px 0px;
}

.halaman-utama small{
    font-size: 16px;
    color: #979797;
}

.body-margin{
    margin: 0px 0px 30px 0px;
}

.p-body{
    font-size: 18px;
    font-weight: bold;
    color: #979797;
    margin: 20px 0px 0px 0px;
}

.button-body {
    transition-duration: 0.4s;
  }
  
  .button-body:hover {
    background-color: #a29bfe; /* Green */
    color: white;
  }

.halaman-tambahan{
    height: 250px;
    background-color: #a29bfe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-wrapper{
    height: 600px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading{
    padding-top: 50px;
    padding-bottom: 25px;
    color: #5f5d60;

}

.heading h2{
    font-weight: normal;
    color: black;
}

.lesson{
    float: left;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 70px;
    padding-right: 15px;
}

.lesson-icon{
    position: relative;
}

.lesson-icon p{
    position: absolute;
    top: 75px;
    width: 100%;
    color: white;
    line-height: 30px;
    padding-left: 55px;
    padding-right: 25px;
}

.lesson-icon h3{
    padding-left: 33.5px;
    padding-right: 33.5px;
}

.lesson-icon img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-size: cover;
}

 .txt-contents{
     width: 80%;
     display: inline-block;
     margin-top: 0px;
     font-size: 15px;
     text-align: center;
     color: #b3aeb5;
 }

 .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

 .contact-form {
    margin-top: 0px;
    padding-top: 0px;
  }
  
  /* Tambahkan CSS untuk tags <input> dan <textarea> */
  .contact-form input,textarea{
    width: 400px;
    margin-top:10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }

  /* Tambahkan CSS untuk contact-submit */
  .contact-submit{
    background-color: #dee7ec;
    margin-left: 20px;
    margin-right: 25px;
    color: black;
    opacity: 0.5;
    border: 1px solid black;
  }

  .contact-submit:hover{
    background-color: #dee7ec;
    color: black;
    opacity: 1.0;
  }

.contact-submit:active{
    box-shadow: none;
    position: relative;
    top: 7px;
    border: 0px solid black
}


footer {
    margin-top: 25px;
    height: 130px;
    background-color: #2d3436;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}